@media (min-width: 1100px) {
  .conteiner {
    padding: 5rem 12rem;
  }

  .personal-data {
    background: rgb(61, 49, 167);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
  }

  .contacts {
    border-bottom: 1px solid rgb(102, 157, 179);
    padding: 10px 0;
  }

  .other-contacts {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .other-contacts a {
    margin-right: 1rem;
    padding: 0.4rem;
  }

  .other-contacts a img {
    width: 1.3rem;
  }

  main p {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  footer {
    font-size: 1.2rem;
  }
}