* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --espaçamento-padrão: 1rem;
  --cor-fundo-primaira: linear-gradient(to bottom , rgb(104, 21, 21),rgb(0, 0, 0));
  --cor-fundo-secudaria:linear-gradient(to bottom , rgb(0,0,0),rgb(89, 31, 128));
}


html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

figure {
  padding:var(--espaçamento-padrão);
}

h2 {
  padding: 0.5rem;
}

h3 {
  border-bottom: 3px solid rgb(255, 255, 255);
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

a{
  text-decoration: none;
  color: aliceblue;
}

main p{
  text-align: center;
  padding: var(--espaçamento-padrão);
}

main{
 background: var(--cor-fundo-primaira);
 border-radius: var(--espaçamento-padrão);
 margin: 1rem 0;
 padding :var(--espaçamento-padrão);
 text-align: center;
}

footer{
  text-align: center;
  background: var(--cor-fundo-secudaria);
  padding:var(--espaçamento-padrão);
  border-radius: var(--espaçamento-padrão);
  font-style: italic;
  font-size: 1.2rem;
}

footer a img{
  width : 3rem;
}

