@media (max-width: 1250px) {
  .info {
    padding: 1rem;
  }

  header {
    font-size: 30px;
  }

  main h2 {
    font-size: 23px;
  } 

  header {
    flex-direction: column;
  }

  main p {
    font-size: 22px;
  }

  footer {
    font-size: 15px;
  }
}

@media (max-width: 800px) {

  body {
    padding: 1rem;
  }
  
  .conteiner {
    font-size: 22px;
    width: 740px;
  }
  
  .name {
    font-size: 20px;
    width: auto;
  }

  .personal-data {
    font-size: 22px;
    width: 80%;
  }


  .info h3{
    font-size: 30px;
  }

  main p {
    font-size: 25px;
  }

  footer {
    font-size: 22px;
  }
}

@media (max-width: 450px) {

  .conteiner {
    width: 370px;
  }

  .personal-data {
    font-size: 20px;
    width: 90%;
  }
  main {
    font-size: 25px;
  }

  main p {
    font-size: 20px;
  }

  .info h3{
    font-size: 18px;
  }

}





