.conteiner {
  padding: 2rem;
}

.personal-data {
  font-size: 20px;
  width: 90%;
}

.other-contacts {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other-contacts a {
  padding: 0.4rem;
}

.contacts {
  border-bottom: 2px solid rgb(255, 255, 255);
}
